@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/*Estilos de botones de menu cliente*/
.btn-lg {
  font-size: 1.25rem;
  padding: 1rem 1.5rem;
}

/*Estilo boton volver*/
.boton-volver {
  background-color: #5bc0de; /* Celeste suave */
  color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.boton-volver:hover {
  background-color: #31b0d5; /* Un poco más oscuro al pasar el mouse */
}
